
body {
  margin: 0;
  padding: 0;
  background: #f7f5ff;
}


.dashboard-container {
  padding: 2rem;
  font-family: Arial, sans-serif;
  background: #f7f5ff;
}


.dashboard-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #5e3ca1;
  font-weight: 700;
  transform: translateY(50px);
}


.dashboard-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
  transform: translateY(20px);
}

.stat-card {
  flex: 1 1 200px;
  width: 250px;
  background: white;
  border-radius: 1.5rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s, box-shadow 0.3s;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  background-color:#eedee5
}

.stat-card h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #4b2e83;
  margin-bottom: 0.3rem;
}

.stat-card p {
  font-size: 1rem;
  color: #8b75a9;
}


.text-icon {
  transform: translateY(3px);
  color: #5e3ca1;
}


.dashboard-extra {
  display: flex;
  gap: 2rem;
  align-items: stretch;
}


.chart-container,
.latest-users {
  background: white;
  border-radius: 1.5rem;
  padding: 2rem;
  flex: 1 1 50%;
  width: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


.latest-users ul {
  list-style: none;
  padding-left: 0;
}

.latest-users li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}


.role-badge {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 20px;
  margin-left: 0.5rem;
}

.role-badge.admin {
  background: #6b21a8;
  color: white;
}

.role-badge.user {
  background: #eaafc8;
  color: white;
}




@media (max-width:768px) {

  .chart-container{
    display: flex;
    flex-direction: column ;
    align-content: center;
    width:100% ;
    transform: translateX(-130px
  );
    
  }

  .dashboard-stats{
    display: flex;
    flex-direction: column ;
    align-content: center;
  }

  .stat-card{
    width: 500px;
  }

  .latest-users{
    display: flex;
    flex-direction: column;
    align-items: center;
     width:100% ;
      transform: translateX(-130px
  );
    
  }

  .latest-users li{
    display: flex;
    justify-content: space-between;
    align-items: center;
     width:100% ;
     

  
    
  }


  .latest-users ul{
    width: 100%;

  }


 
    
  
.dashboard-extra{
  display: flex;
  flex-direction: column;
  align-content: center;
  transform: translateX(130px
  );
}
.dashboard-container{
  display: flex;
  flex-direction: column;
  align-content: center;
}

  h3{
    
    align-self: center;
  }
  
}





@media (max-width:480px) {


  .dashboard-title{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 50px;
    
  }
  .chart-container{
    display: flex;
    flex-direction: column ;
    align-content: center;
    width:100% ;
    transform: translateX(-130px
  );
    
  }

  .dashboard-stats{
    display: flex;
    flex-direction: column ;
    align-content: center;
  }

  .stat-card{
    width: 100%;
  }

  .latest-users{
    display: flex;
    flex-direction: column;
    align-items: center;
     width:100% ;
      transform: translateX(-130px
  );
    
  }

  .latest-users li{
    display: flex;
    justify-content: space-between;
    align-items: center;
     width:100% ;
     

  
    
  }


  .latest-users ul{
    width: 100%;

  }


 
    
  
.dashboard-extra{
  display: flex;
  flex-direction: column;
  align-content: center;
  transform: translateX(130px
  );
}
.dashboard-container{
  display: flex;
  flex-direction: column;
  align-content: center;
}

  h3{
    
    align-self: center;
  }
  
}



