*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dashboard-header{
    text-align: center;
    margin-bottom: 40px;
}

.dashboard-title{
    font-size: 3rem;
    color: #654ea3;
    margin-bottom: 10px;
    font-weight: 800;

}



.dashboard-actions{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 0 20px;

}



.search{
    position: relative;
    flex: 1;
    max-width: 500px;
    transform: translateX(12px)

}

.search .icon-search{
    position:absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #a89bb9;
    font-size: 1.2rem;
    pointer-events: none;
}


.search-input{
    width: 100%;
    padding: 15px 20px 15px 55px ;
    background: white;
    border-radius: 50px;
    border: 2px solid #e0e0e0;
    font-size: 1rem;
    outline: none;
    color: #3f3068;

}



.search-input:focus{
    border-color: #eaafc8;
}


.search-input::placeholder{
    color: #a89bb9;
}



.add-btn-link{
    text-decoration: none;
    margin-left: auto;
}
.add-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    background: linear-gradient(to right, #eaafc8, #654ea3);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
  
}


.add-btn:hover{
    color:#3f3068;
    box-shadow: #a89bb9;
}

.table-container{
    background: white;
    border-radius: 15px;

    margin-bottom: 30px;
    margin: 10px;

    box-shadow:0 10px 30px #3f3068;
}


.table-container .rdt_table{
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.table-container .rdt_TableHeadRow {
  background: linear-gradient(to right, #eaafc8, #654ea3);
  color: white;
  font-size: 14px;
  font-weight: 700;
  border-radius: 15px 15px 0 0;
  min-height: 56px;
}

.table-container .rdt_TableCol {
  color: white;
  font-size: 15px;
  font-weight: 700;
  padding-left: 16px;
  padding-right: 16px;
}

.table-container .rdt_TableRow {
  font-size: 14px;
  font-weight: 500;
  color: #3f3068;
  min-height: 56px;
}

.table-container .rdt_TableRow:hover {
  background-color: #fce9f1;
  cursor: pointer;
  
}

.table-container .rdt_Pagination {
  border-top: 1px solid #e0e0e0;
  font-size: 14px;
  color: #654ea3;
  font-weight: 600;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btns{
    display: flex;
    gap: 8px;
    justify-content: center;
    cursor: pointer;
}

.action-btns .edit:hover{
 
    color:green;
    
}
.action-btns .delete:hover{
 
    color: red;
}

.profil-pic{
    width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.role-badge{
    padding:6px 16px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
}


.role-badge.admin{
    background:#a28fbb;
}


.role-badge.user{
    background: #eaafc8;
}