
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.task-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}


.task-wrapper {
  position: relative;
  max-width: 1000px;
  width: 100%;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
  display: flex;
  overflow: hidden;
}


.task-info-panel {
  width: 45%;
  background: linear-gradient(135deg, #eaafc8, #654ea3);
  color: white;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.task-title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.task-description {
  font-size: 1.1rem;
  line-height: 1.8;
}

.task-icon {
  font-size: 3rem;
  margin-top: 30px;
}


.task-form-panel {
  width: 55%;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-form-box {
  width: 100%;
}

.task-form-title {
  font-size: 2rem;
  font-weight: 700;
  color: #654ea3;
  text-align: center;
  margin-bottom: 30px;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-input {
  padding: 14px 18px;
  border-radius: 12px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 1rem;
  transition: 0.3s;
}

.task-input:focus {
  background: #fce9f1;
  box-shadow: 0 0 5px #eaafc8;
}

.task-dates {
  display: flex;
  gap: 20px;
}

.task-dates div {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.task-btn-group {
  display: flex;
  flex-direction: column; 
  gap: 15px; 
  margin-top: 20px;
}

.task-submit-btn,
.task-cancel-btn {
  width: 100%; 
  padding: 15px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  box-sizing: border-box;
}


.task-submit-btn {
  color: white;
  border: none;
  background: linear-gradient(135deg, #654ea3, #eaafc8);
}

.task-submit-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(101, 78, 163, 0.4);
}


.task-cancel-btn {
  color: #654ea3;
  background: transparent;
  border: 2px solid #654ea3;
}

.task-cancel-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(101, 78, 163, 0.4);
  font-weight: 700;
}


@keyframes slideFade {
  from { opacity: 0; transform: translateX(60px); }
  to { opacity: 1; transform: translateX(0); }
}

.page-animate {
  animation: slideFade 1s ease forwards;
}



@media (max-width: 768px) {
  .task-wrapper { flex-direction: column; border-radius: 20px; }
  .task-info-panel { width: 100%; padding: 30px; border-radius: 20px 20px 0 0; }
  .task-form-panel { width: 100%; padding: 30px 20px; }
  .task-title { font-size: 2.2rem; }
  .task-form-title { font-size: 1.6rem; }
  .task-dates { flex-direction: column; gap: 15px; }
}
