@keyframes slideInUp{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


/* animation de base */
.page-animate {
  animation: slideFade 1s ease forwards;
}

@keyframes slideFade {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.login-desc {
  animation: slideFromRight 1.5s ease forwards;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


.user-info{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;

}

.user-img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name{
  font-weight: bold;
  font-size: 1.2rem;
  color: #654ea3;
}